@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: whitesmoke;
  transition-duration: 500ms !important;
}

body {
  font-family: "Varela Round", sans-serif;
  background-color: black;
}

html{
  font-size: 16px;
}


::selection {
  background-color: rgb(197, 0, 89);
  color: black;
}

.rad {
  border-radius: 80px;
}

.about {
  &:hover :nth-child(1) {
    transform: translateY(-3200px);
  }
  &:hover :nth-child(2) {
    transform: translate(0, 0);
    span {
      display: inline;
    }
  }
}
.contact:hover .paper-plane {
  transform: translate(0, 0);
}

.ct-animate-blink {
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
